
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<% messages() %>

<form method="post" action="/account/login" id="loginForm">
    <fieldset>
        <label>Email<span class="required">*</span>
            <input type="email" 
            name="account_email" 
            id="accountEmail" 
            required 
            value="<%= locals.account_email %>"      
            autocomplete="email" 
            title="Enter your email address" />
        </label>
        <label>Password<span class="required">*</span>
            <input type="password" name="account_password" id="accountPassword" required autocomplete="current-password" title="Enter your password"
            <%#pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" 
            %>
            />
        </label>
        <input type="submit" value="Login" />
    </fieldset>
</form>
<p>No account? <a href="register">Sign-up</a></p>
<%# 
1) email field 
account_email
2) password
account_password
3) Submit button 
Login 
4) No account?  href
 %>