@media screen and (min-width: 768px) {
    body {
        background-image: url('../images/site/small_check.jpg');
    }
    .main-across
    {
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .upgrades
    {
        order: 1;
    }    
    .search-inventory{
  display: grid;
  grid-template-columns: max-content 1fr;
}

    .reviews
    {
        order: 2
    }
}
