:root {
  --padding: 1rem;
  --red: #cc0000; 
  --dark-grey: #333138;
  --black: #000103;
  --bright-green: #126936;
  --off-white: #FFFFFF;
  --header-font: 'Domine','Times New Roman', serif;
  --normal-font: 'Forum',Arial, sans-serif;;
}
body{
    margin: 0;
  padding: 50px;
  height: 100%;
  background-image: none;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure full screen height */
  box-sizing: border-box;
  font-family: var(--normal-font);
}
h1,h2,h3{
    text-align: center;
  font-family: var(--header-font);
}
.wrapper{
  width: 100%;
  /* margin:10px; */
  align-items: center;
      max-width: 1200px; 
      min-width: 400px;
  background-color: white;
  padding: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: shadow for depth */
  border-radius: 8px; /* Optional: rounded corners */
  box-sizing: border-box;
}
main{
  padding: 20px;
}
h1,h2{
  text-align: center;
}
.hero-container
{
  display:flex;
  justify-content: center;
}
.hero
{
  position: relative;
  display:inline-block;
}
.hero img{
  width: 500px;
  height: auto;
  display: block;
  padding: 25px;
}
.hero .description{
  position:absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  /* width: 100%; */
  /* height: 300px; */
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.85); 
}
.description {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}
.description button{
  margin: 5px;
  padding: 5px;
}
.main-across
{
  display:grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.upgrades{
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 2;
}
.reviews{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  align-items: center; 
  line-height: 1.6; 
  order:1;
}
.upgrade-items{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.upgrade-item{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bright-green);
  width: 150px;
  padding: 5px;
}
.upgrade-item a{
  text-decoration: none;
  color: var(--off-white);
}
.upgrade-item img{
    margin-top: 5px;

}
/********* Inv display ******/
.inv-display
{
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  padding: 1rem;
  justify-items: center;
}
.inv-item{
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  justify-content:center;
  align-content: center;
  background-color: var(--off-white);
  /* overflow:hidden; */
  border-radius: 1rem;
    box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.15),
    0 10px 25px rgba(0, 0, 0, 0.2);
      transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
}
.image-container
{
  display:flex;
  justify-content: center;
  align-items: center;
}
.namePrice
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
hr {
  border: none;
  height: 2px;
  background-color: var(--dark-grey);
  width: 100%;
  display: block;
  margin: 20px auto;
}
.highlight
{
  font-weight: bold;
  font-size: 1.2rem;
}
footer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:5px;
  background-color: var(--red);
  color: var(--off-white);
}