<%# An often overlooked best practice is to
 implement a value for the <title> element that describes the content of the view. */
also have a heading <h1> that does the same thing   
While this approach may seem unduly extreme, it reinforces the concept of best practice and our desire to deliver meaningful content. The use of redundant values in the title and h1 may also help our SEO rating.
%>
    
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# messages() %>

<%- grid %>
