<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="manage-inventory">
<ul>
  <li><a href="/inv/classification-entry" title="Click to add a new vehicle classification">Add New Classification</a></li>
  <li><a href="/inv/vehicle-entry" title="Click to add a new vehicle">Add New Vehicle</a></li>
</ul>


<h2>Manage Inventory</h2>
<p>Choose a classification to see those inventory items.</p>
<%- classificationSelect %>

<table id="inventoryDisplay"></table>
</div>
<noscript>Javascript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>