<div class="search-inventory">
    <div class="all-filter-panel">
    <%- include('../filters/filter-form') %>
    </div>
    <div class="search-results">
    <h1>Search Page</h1>
    <%- grid %>
    </div>
</div>