<div class="filter-panel">
<div class="filter-title">
    <h2><%- title %></h2>
    <div><span class="toggle-filter" id="<%- filterId %>">+</span></div>
</div>
<div class="filter-body hidden">
    <%- include(formPartial) %>
</div>
</div>