<fieldset title="Make">
  <% allMakes.rows.forEach(row => { %>
    <label>
      <input type="checkbox" name="make" value="<%= row.inv_make %>"
        <%= Array.isArray(make) && make.includes(row.inv_make) ? "checked" : "" %> >
      <%= row.inv_make %>
    </label>
  <% }) %>
</fieldset>