<form method="post" id="make-filter">
    <fieldset title="Make">
    <label><input type="checkbox" name="make" value="Acura">Acura</label>
    <label><input type="checkbox" name="make" value="Hyundai">Hyundai</label>
    </fieldset>
    <input type="submit" name="submit" value="Save Filter" />
</form>
